<!--modal-->
    <div class="modal">
        <ion-header-bar class="bar-calm">
            <h1 class="title ">注册</h1>
            <a class="button button-clear ionc  ion-close-circled" ng-click="closeTask()"></a>
        </ion-header-bar>
        <ion-content class="content has-header">
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="joeuser">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="required">
                </label>
            </div>
            <button class="button button-block button-balanced">注册</button>
        </ion-content>
    </div>
<!--modal-->