<ion-side-menu-content>
    <ion-header-bar class="bar bar-header bar-dark">

        <h1 class="title">我的</h1>
        <a class="button button-clear icon ion-person"></a>
    </ion-header-bar>

    <ion-content class="content has-header">
        <div class="item item-image">
            <img src="img/seoul.jpg" alt="">
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="joeuser">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="required">
            </label>
        </div>
        <ion-item class="item-button-right item-borderless">
            <button class="button calm" ng-click="nawTask()">注册</button>
        </ion-item>
        <button class="button button-block button-balanced">Sign In</button>
        </div>
    </ion-content>
    <div app-footer></div>
</ion-side-menu-content>
