<ion-side-menu-content>
    <ion-header-bar class="bar bar-header bar-dark">

        <h1 class="title">视频</h1>

    </ion-header-bar>

    <ion-content class="content has-header">

        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="i in video">
                <img src="{{i.img}}" alt="">
                <h2>片名：{{i.title}}</h2>
                <p>导演：{{i.name}}</p>
                <p>类型：{{i.mold}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <div app-footer></div>
</ion-side-menu-content>
